In [2]:
import numpy as np
import pandas as pd

In [5]:
ad = pd.read_csv('advertising.csv')
ad.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [35]:
X = ad[['TV', 'Radio', 'Newspaper']]
y = ad['Sales']

In [36]:
X['intercept'] = 1
X.head()

      TV  Radio  Newspaper  intercept
0  230.1   37.8       69.2          1
1   44.5   39.3       45.1          1
2   17.2   45.9       69.3          1
3  151.5   41.3       58.5          1
4  180.8   10.8       58.4          1

In [37]:
X = X.reindex(['intercept','TV','Radio','Newspaper'], axis=1)

In [38]:
X.head()

   intercept     TV  Radio  Newspaper
0          1  230.1   37.8       69.2
1          1   44.5   39.3       45.1
2          1   17.2   45.9       69.3
3          1  151.5   41.3       58.5
4          1  180.8   10.8       58.4

In [39]:
X = np.array(X)
y = np.array(y)

In [40]:
theta = np.matrix(np.array([0, 0, 0, 0]))
alpha = 0.01
iterations = 1000

In [42]:
def compute_cost(X, y, theta):
    return np.sum(np.square(np.matmul(X, theta) - y)) / (2 * len(y))

In [43]:
def gradient_descent_multi(X, y, theta, alpha, iterations):
    theta = np.zeros(X.shape[1])
    m = len(X)
    gdm_df = pd.DataFrame( columns = ['Bets','cost'])

    for i in range(iterations):
        gradient = (1/m) * np.matmul(X.T, np.matmul(X, theta) - y)
        theta = theta - alpha * gradient
        cost = compute_cost(X, y, theta)
        gdm_df.loc[i] = [theta,cost]

    return gdm_df

In [44]:
# print costs with various values of coefficients b0, b1, b2
gradient_descent_multi(X, y, theta, alpha, iterations)

<ipython-input-42-5774767d0957>:2: RuntimeWarning: overflow encountered in square
  return np.sum(np.square(np.matmul(X, theta) - y)) / (2 * len(y))
<ipython-input-43-48c605d6eddb>:7: RuntimeWarning: overflow encountered in matmul
  gradient = (1/m) * np.matmul(X.T, np.matmul(X, theta) - y)
<ipython-input-42-5774767d0957>:2: RuntimeWarning: invalid value encountered in matmul
  return np.sum(np.square(np.matmul(X, theta) - y)) / (2 * len(y))
<ipython-input-43-48c605d6eddb>:7: RuntimeWarning: invalid value encountered in matmul
  gradient = (1/m) * np.matmul(X.T, np.matmul(X, theta) - y)

                                                  Bets          cost
0    [0.14022500000000002, 24.105417000000003, 3.70...  9.200661e+06
1    [-37.416329396015, -7270.095836900785, -899.62...  8.302033e+11
2    [11227.261316435912, 2184198.9670752073, 26954...  7.491360e+16
3    [-3372465.4516378595, -656117602.2918524, -809...  6.759847e+21
4    [1013060302.3562715, 197092376263.17517, 24321...  6.099765e+26
..                                                 ...           ...
995                               [nan, nan, nan, nan]           NaN
996                               [nan, nan, nan, nan]           NaN
997                               [nan, nan, nan, nan]           NaN
998                               [nan, nan, nan, nan]           NaN
999                               [nan, nan, nan, nan]           NaN

[1000 rows x 2 columns]